

.button{
    

    background-color: white;
    border-color: rgb(40, 40, 247);
    border-style: solid;
    border-width: 1px;
    color: rgb(40, 40, 247);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
    margin-bottom: 5px;
    width: 60%;
    margin-left: 40px;

}
.button-alpha{
   
    background-color: white;
    border-color: rgb(40, 40, 247);
    border-style: solid;
    border-width: 1px;
    color: rgb(40, 40, 247);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    vertical-align: top;
    margin-bottom: 5px; 
    width: 30%;
    margin-left: 10px;
}

.button-alpha:hover{
    background-color:  rgb(40, 40, 247);
    color: white;
    box-shadow: none; 
}

.button:hover{
    background-color:  rgb(40, 40, 247);
    color: white;
    box-shadow: none;
    
}

.button-alpha:active{
    opacity: 0.7;
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);  
}

.button:active{
    opacity: 0.7;
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.div-button{
    margin-left: 100px;
    align-content: baseline;
    
}

.hr{
    
    border-top-color: black;
    margin-bottom: 25px;
    width: 95%;
  

  unicode-bidi: isolate;
  border-color: inherit;

}

 hr::before{
    display: block;
    margin-left: -10%;
    margin-top: -1px;
    content:"";
    background: linear-gradient(to left, black, blue);
    width: 10%;
    height: 1px;
}

hr::after{
    display: block;
    margin-left: 100%;
    margin-top: -1px;
    content:"";
    background: linear-gradient(to right, black, blue);
    width: 10%;
    height: 1px;
 }


}
button {
    outline: none;
    border: none;
    background-color: #8e8e8e;
    background: -moz-linear-gradient(90deg, #8e8e8e 0%, #e4e4e4 50%, #8e8e8e 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e8e8e), color-stop(50%, #e4e4e4), color-stop(100%, #8e8e8e)); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, #8e8e8e 0%, #e4e4e4 50%, #8e8e8e 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, #8e8e8e 0%, #e4e4e4 50%, #8e8e8e 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, #8e8e8e 0%, #e4e4e4 50%, #8e8e8e 100%); /* ie10+ */
    background: linear-gradient(0deg, #8e8e8e 0%, #e4e4e4 50%, #8e8e8e 100%); /* w3c */
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e8e8e', endColorstr='#8e8e8e', GradientType=0); /* ie6-9 */
    width: 300px;
    height: 40px;
    border-radius: 0px;
}
button:hover {
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#8e8e8e));
    background-image: -webkit-linear-gradient(top, #e4e4e4, #8e8e8e);
    background-image: -moz-linear-gradient(top, #e4e4e4, #8e8e8e);
    background-image: -ms-linear-gradient(top, #e4e4e4, #8e8e8e);
    background-image: -o-linear-gradient(top, #e4e4e4, #8e8e8e);
    background-image: linear-gradient(to bottom, #e4e4e4, #8e8e8e);
}
#transp {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .5);
    /**background-image1: url("https://www.bondgallery.co.za/businesscards/bondgallery/cssfiles/expired.png");8**/
    width: 100%;
    height: 300%;
    display: none;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(90, 90, 90), rgba(0, 0, 0, 0));
}